.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

.container {
  margin: auto;
  padding-top: 10rem;
  width: 100%;
  height: 100vh;
}

img-container {
  position: relative;
}

.img {
  display: flex;
  margin: 2rem auto;
  height: 40vh;
  width: 70%;
  border-radius: 1px;
  object-fit: contain;
  opacity: 1;
  transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.description {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.slick-prev {
  top: 160px !important;
  left: 20px !important;
  z-index: 1;
}

.slick-next {
  top: 160px !important;
  right: 40px !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #333;
  font-size: 40px;
}
