*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    padding: 2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    text-decoration: underline solid 1px;
    font-family: 'Great Vibes', sans-serif;
}